# Игнорировать каталоги ANTLR и Visual Studio Code
.antlr/

# Игнорировать временные и сгенерированные файлы
/grammar
build/*

*.dot
*.png

# Игнорировать бинарные файлы
main

# Исключить явно указанные файлы из игнорирования
!main.c
!Grammar.g
!input.txt

# Игнорировать служебные каталоги
parser/
.include/
.idea/

.DS_Store
