# Игнорировать каталоги ANTLR и Visual Studio Code
.antlr/
.vscode/

# Игнорировать временные и сгенерированные файлы
*.tokens
*.c
*.h
*.dot
*.png

# Игнорировать бинарные файлы
main

# Исключить явно указанные файлы из игнорирования
!main.c
!Lang.g
!input.txt

# Игнорировать служебные каталоги
parser/
.include/
.idea/

.DS_Store
